apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: hygieia-github-collector
objects:
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    creationTimestamp: null
    generation: 1
    labels:
      app: hygieia-github-collector
    name: hygieia-github-collector
  spec:
    replicas: 1
    selector:
      deploymentconfig: hygieia-github-collector
    strategy:
      activeDeadlineSeconds: 21600
      resources: {}
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: hygieia-github-collector
          deploymentconfig: hygieia-github-collector
      spec:
        containers:
        - env:
          - name: DBNAME
            valueFrom:
              secretKeyRef:
                key: database-name
                name: mongodb
          - name: DBPASSWORD
            valueFrom:
              secretKeyRef:
                key: database-password
                name: mongodb
          - name: DBHOST
            value: mongodb.${NAMESPACE}.svc
          - name: GITHUB_CRON
            value: 5 * * * * *
          - name: GITHUB_HOST
            value: github.com
          - name: GITHUB_PERSONALACCESSTOKEN
            value: ${GITHUB_PERSONAL_ACCESS_TOKEN}
          - name: DBPORT
            value: "27017"
          - name: DBUSERNAME
            valueFrom:
              secretKeyRef:
                key: database-user
                name: mongodb
          - name: LOGGING_LEVEL_ROOT
            value: DEBUG
          image: capitalone/hygieia-github-scm-collector:latest
          imagePullPolicy: Always
          name: hygieia-github-collector
          ports:
          - containerPort: 8080
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    test: false
    triggers:
    - type: ConfigChange
parameters:
- name: NAMESPACE
- name: GITHUB_PERSONAL_ACCESS_TOKEN
