dist: xenial
language: python
python:
  - "3.7"

cache:
  directories:
    - $HOME/.cache/pip

env:
  global:
    - ANSIBLE_HOST_KEY_CHECKING=False
    - PIP_DOWNLOAD_CACHE=$HOME/.cache/pip
    - OC_BINARY_URL=https://mirror.openshift.com/pub/openshift-v3/clients/3.10.45/linux/oc.tar.gz
    - ANSIBLE_VERSION="2.7"

before_install:
  - sudo apt-get update -qq

install:
  - pip install -U pip
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible~=$ANSIBLE_VERSION; fi
  #- pip install "ansible-lint<4.0" yamllint flake8 molecule docker "pytest<3.10" "testinfra==3.0.4"
  # Configure OpenShift Binary
  - sudo wget -qO- ${OC_BINARY_URL} | sudo tar -xvz -C /bin

before_script:
  # Configure Docker
  - sudo service docker stop
  - sudo mkdir -p /etc/docker
  - echo '{"insecure-registries":["172.30.0.0/16"]}' | sudo tee /etc/docker/daemon.json
  - sudo service docker start
  # Launch OpenShift Environment
  - _test/setup.sh cluster_up
  # Run Applier to provision all of the builds
  - _test/setup.sh applier cqci-${TRAVIS_JOB_ID} ${TRAVIS_REPO_SLUG} ${TRAVIS_BRANCH}

script:
  # Test to ensure that builds all succeed
  - _test/setup.sh test cqci-${TRAVIS_JOB_ID}
