---
kind: Template
apiVersion: v1
metadata:
  name: ${NAME}
  annotations:
    openshift.io/display-name: Nexus Persistent Template
    description: Creates a Nexus with configuration and artifacts stored in a persistent
      volume.
    iconClass: icon-nexus
    tags: instant-app
  labels:
    app: ${NAME}
objects:
- kind: ServiceAccount
  apiVersion: v1
  metadata:
    name: "${NAME}"
  imagePullSecrets:
  - name: ${NAME}
- kind: PersistentVolumeClaim
  apiVersion: v1
  metadata:
    name: "${NAME}"
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: "${VOLUME_CAPACITY}"
- kind: DeploymentConfig
  apiVersion: v1
  metadata:
    name: "${NAME}"
    labels:
      app: "${NAME}"
  spec:
    replicas: 1
    selector:
      name: "${NAME}"
    strategy:
      type: Recreate
    template:
      metadata:
        labels:
          name: "${NAME}"
      spec:
        serviceAccountName: "${NAME}"
        containers:
        - image: "${NAME}"
          imagePullPolicy: Always
          name: "${NAME}"
          readinessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 20
          livenessProbe:
            failureThreshold: 30
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 420
            timeoutSeconds: 3
          ports:
          - containerPort: 8081
            protocol: TCP
          resources:
            limit:
              memory: ${MEMORY_LIMIT}
            requests:
              memory: 256Mi
          terminationMessagePath: "/dev/termination-log"
          volumeMounts:
          - mountPath: "/nexus-data"
            name: "${NAME}"
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        securityContext:
          capabilities: {}
          privileged: false
        terminationGracePeriodSeconds: 30
        volumes:
        - persistentVolumeClaim:
            claimName: "${NAME}"
          name: "${NAME}"
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - "${NAME}"
        from:
          kind: ImageStreamTag
          name: "${NAME}:latest"
      type: ImageChange
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      name: "${NAME}"
      app: "${NAME}"
    name: "${NAME}"
  spec:
    ports:
    - port: 8081
      protocol: TCP
      targetPort: 8081
    selector:
      name: "${NAME}"
    sessionAffinity: None
    type: ClusterIP
- apiVersion: v1
  kind: Route
  metadata:
    labels:
      name: "${NAME}"
      app: "${NAME}"
    name: "${NAME}"
  spec:
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: edge
    port:
      targetPort: 8081
    to:
      kind: Service
      name: "${NAME}"
      weight: 100
    wildcardPolicy: None
parameters:
- name: NAME
  displayName: Name
  description: The name assigned to all objects and the resulting imagestream.
  required: true
  value: nexus
- description: Volume space available for data, e.g. 512Mi, 2Gi.
  displayName: Volume Capacity
  name: VOLUME_CAPACITY
  required: true
  value: 1Gi
- description: Maximum amount of memory the container can use.
  displayName: Memory Limit
  name: MEMORY_LIMIT
  value: 1Gi
labels:
  template: nexus-persistent-template