{%- if test_pipelines is defined %}
{%- for agent, params in test_pipelines.deploy.items() %}
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: {{ params.NAME | d('jenkins-agent-' + agent) }}
    name: {{ params.NAME ~ '-pipeline' | d('jenkins-agent-' + agent + '-pipeline') }}
    type: pipeline
  annotations:
    deprecated: "https://docs.openshift.com/container-platform/4.3/release_notes/ocp-4-3-release-notes.html#ocp-4-3-deprecated-features"
  name: {{ params.NAME ~ '-pipeline' | d('jenkins-agent-' + agent + '-pipeline') }}
spec:
  runPolicy: {{ params.RUN_POLICY | d('Serial') }}
  source:
    contextDir: {{ params.PIPELINE_CONTEXT_DIR }}
    git:
      ref: {{ params.PIPELINE_SOURCE_REPOSITORY_REF | d('master') }}
      uri: {{ params.PIPELINE_SOURCE_REPOSITORY_URL }}
    type: Git
  strategy:
    jenkinsPipelineStrategy:
      env:
      - name: GIT_COMMITTER_EMAIL
        value: cop@redhat.com
      - name: GIT_COMMITTER_NAME
        value: Redhat CoP
      jenkinsfilePath: {{ params.PIPELINE_FILENAME | d('Jenkinsfile') }}
    type: JenkinsPipeline
{% endfor %}
{%- endif %}
