---
namespace: "ipa"
app_name: "ipa"
base_openshift_url: "apps.example.com"
realm: "EXAMPLE.COM"
admin_password: "Password123"
openshift_templates_version: "v1.4.12"
ipa_templates_version: "98225f45d561ae567e0962e2ab371b98dd38d5b8"
deployment_timeout: 1000

params:
  IPA_SERVER_SERVICE: "{{ app_name }}"
  IPA_SERVER_IMAGE: "freeipa-server:rhel-7"
  IPA_SERVER_HOSTNAME: "{{ app_name }}.{{ base_openshift_url }}"
  IPA_SERVER_INSTALL_OPTS: "-U -r {{ realm }} --setup-dns --no-forwarders --no-ntp"
  IPA_ADMIN_PASSWORD: "{{ admin_password }}"
  SERVICE_ACCOUNT_USEROOT: "{{ app_name }}"
  VOLUME_CAPACITY: 1G
  TIMEOUT: "{{ deployment_timeout }}"

openshift_cluster_content:
- object: Environment Setup
  content:
  - name: Create Projects
    template: "https://raw.githubusercontent.com/redhat-cop/openshift-templates/{{ openshift_templates_version }}/project-requests/create-project.yml"
    action: create
    params_from_vars:
      NAMESPACE: "{{ namespace }}"
      NAMESPACE_DISPLAY_NAME: "{{ namespace }}"
    tags:
      - ipa_project
  - name: Deploy MachineConfig to configure SEbool
    file: "{{ inventory_dir }}/../.openshift/files/01-worker-sebool.yml"
    tags:
      - ipa_ocp4
      - ipa_machineconfig

- object: Image Streams
  content:
  - name: "{{ app_name }}-streams"
    file: "https://raw.githubusercontent.com/freeipa/freeipa-container/{{ ipa_templates_version }}/freeipa-server-openshift-image.json"
    namespace: "{{ namespace }}"
    tags:
      - ipa_imagestream

- object: Service Account
  content:
  - name: "{{ app_name }}-sa"
    template: "https://raw.githubusercontent.com/redhat-cop/openshift-templates/{{ openshift_templates_version }}/service-accounts/generic-service-account.yml"
    namespace: "{{ namespace }}"
    params_from_vars:
      SA_NAME: "{{ app_name }}"
      SA_NAMESPACE: "{{ namespace }}"
    tags:
      - ipa_serviceaccount
  - name: "{{ app_name }}-sa-policy"
    template: "https://raw.githubusercontent.com/redhat-cop/openshift-templates/{{ openshift_templates_version }}/scc/project-run-anyuid-template.yml"
    namespace: "{{ namespace }}"
    params_from_vars:
      NAMESPACE: "{{ namespace }}"
      NAME: "{{ app_name }}"
    tags:
      - ipa_serviceaccount

- object: Deployments
  content:
  - name: ipa
    template: "https://raw.githubusercontent.com/freeipa/freeipa-container/{{ ipa_templates_version }}/freeipa-server-openshift.json"
    params_from_vars: "{{ params }}"
    namespace: "{{ namespace }}"
    tags:
      - ipa_deployment
