namespace: sonarqube
app_name: sonarqube

build:
  NAME: "{{ app_name }}"
  SOURCE_REPOSITORY_URL: https://github.com/pcarney8/containers-quickstarts.git
  SOURCE_REPOSITORY_REF: add-sonarqube
  SOURCE_CONTEXT_DIR: "{{ app_name }}"
postgresql:
  POSTGRESQL_DATABASE: sonar
  VOLUME_CAPACITY: 5
  POSTGRESQL_PASSWORD: sonar
  POSTGRESQL_USER: sonar
deploy:
  POSTGRES_DATABASE_NAME: "{{ postgresql.POSTGRESQL_DATABASE }}"


openshift_cluster_content:
- object: Environment Setup
  content:
  - name: Create Projects
    template: "https://raw.githubusercontent.com/redhat-cop/cluster-lifecycle/v3.9.0/files/projectrequest/template.yml"
    action: create
    params_from_vars:
      NAMESPACE: "{{ namespace }}"
      NAMESPACE_DISPLAY_NAME: "{{ namespace }}"
    tags:
      - project
- object: Builds
  content:
  - name: sonarqube
    template: "https://raw.githubusercontent.com/rht-labs/openshift-templates/v1.0/docker-build/docker-build-template.yml"
    params_from_vars: "{{ build }}"
    namespace: "{{ namespace }}"
    tags:
      - build
- object: Deployments
  content:
  - name: sonarqube
    template: "{{ inventory_dir }}/../.openshift/templates/sonarqube-deployment-template.yml"
    params_from_vars: "{{ deploy }}"
    namespace: "{{ namespace }}"
    tags:
    - deploy
    - deploy-app
  - name: sonarqube-postgresql
    template: "openshift//postgresql-persistent"
    params_from_vars: "{{ postgresql }}"
    namespace: "{{ namespace }}"
    tags:
    - deploy
    - deploy-postgresql