---
name: github-runner-ubi8
on:
  push:
    branches:
      - master
    paths:
      - github-runner-ubi8/**
      - .github/workflows/github-runner-ubi8.yaml
  pull_request:
    paths:
      - github-runner-ubi8/**
      - .github/workflows/github-runner-ubi8.yaml
jobs:
  publish:
    env:
      CONTEXT_DIR: github-runner-ubi8
      IMAGE_NAME: github-runner-ubi8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Get image tags
        id: image_tags
        run: |
          echo -n ::set-output name=IMAGE_TAGS::
          VERSION=$(jq -r '.version' ${CONTEXT_DIR}/version.json)
          TAGS=('latest')
          if [ "${VERSION}" ] && [ "${VERSION}" != "latest" ]; then
              TAGS+=("${VERSION}")
          fi
          if [[ "${GITHUB_REF}" =~ refs/tags/(.*) ]]; then
              TAGS+=("git-${BASH_REMATCH[1]}")
          fi
          echo "${TAGS[*]}"
      - name: Build image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          context: ${{ env.CONTEXT_DIR }}
          dockerfiles: |
            ./${{ env.CONTEXT_DIR }}/Dockerfile
          image: ${{ env.IMAGE_NAME }}
          oci: true
          tags: "${{ steps.image_tags.outputs.IMAGE_TAGS }}"
      - name: Publish image to Quay
        if: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build_image.outputs.image }}
          registry: ${{ secrets.REGISTRY_URI }}/${{ secrets.REGISTRY_REPOSITORY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          tags: ${{ steps.build_image.outputs.tags }}
