name: jenkins-agent-image-mgmt-pr
on:
  pull_request:
    paths:
      - jenkins-agents/jenkins-agent-image-mgmt/**
jobs:
  build:
    env:
      context: jenkins-agents/jenkins-agent-image-mgmt
      image_name: jenkins-agent-image-mgmt
    runs-on: ubuntu-20.04
    steps:
      - name: Check and verify version.json
        uses: actions/checkout@v1
        id: check_version
        run: |
          echo -n ::set-output name=IMAGE_TAGS::
          echo $(jq -r '.version' ${context}/version.json)
      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          oci: true
          tags: ${{ steps.check_version.outputs.IMAGE_TAGS }}
      - name: Test image
        run: |
          echo "Running: podman run --entrypoint bash ${image_name}:${{ steps.check_version.outputs.IMAGE_TAGS }} -c \"skopeo --version\""
          podman run --entrypoint bash ${image_name}:${{ steps.check_version.outputs.IMAGE_TAGS }} -c "skopeo --version"
