name: rabbitmq-pr
on:
  pull_request:
    paths:
      - rabbitmq/**
      - .github/workflows/rabbitmq-pr.yaml
jobs:
  build:
    env:
      context: rabbitmq
      image_name: rabbitmq
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Check and verify version.json
        id: check_version
        uses: redhat-cop/github-actions/get-image-version@master
        with:
          IMAGE_CONTEXT_DIR: ${{ env.context }}

      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          oci: true
          tags: ${{ steps.check_version.outputs.IMAGE_TAGS }}

      - name: Test image
        run: |
          echo "Running: podman run --entrypoint 'rabbitmqctl' ${image_name}:${{ steps.check_version.outputs.VERSION }} 'version'"
          podman run --entrypoint 'rabbitmqctl' ${image_name}:${{ steps.check_version.outputs.VERSION }} 'version'
