name: tekton-task-images-conftest-pr
on:
  pull_request:
    paths:
      - tekton-task-images/conftest/**
      - .github/workflows/tekton-task-images-conftest-pr.yaml
jobs:
  build:
    env:
      context: tekton-task-images/conftest
      image_name: conftest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Get image tags
        id: check_version
        run: |
          echo -n ::set-output name=IMAGE_TAGS::
           # exposes variable CONFTEST_VERSION
          source ${context}/VERSION
          echo ${CONFTEST_VERSION}
      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          oci: true
          tags: ${{ steps.check_version.outputs.IMAGE_TAGS }}
      - name: Test image
        run: |
          echo "Running: podman run ${image_name}:${{ steps.check_version.outputs.IMAGE_TAGS }} conftest version"
          podman run ${image_name}:${{ steps.check_version.outputs.IMAGE_TAGS }} conftest --version | grep ${{ steps.check_version.outputs.IMAGE_TAGS }}
