name: tekton-task-images-conftest-pr
on:
  pull_request:
    paths:
      - tekton-task-images/conftest/**
      - .github/workflows/tekton-task-images-conftest-pr.yaml

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    env:
      context: tekton-task-images/conftest
      image_name: conftest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Convert VERSION to version.json
        run: |
          version=$(sed -n '2p' ${{ env.context }}/VERSION | cut -d"=" -f2)
          jq -c --null-input --arg version "$version" '{ "version": $version }' > ${{ env.context }}/version.json

      - name: Check and verify version.json
        id: check_version
        uses: redhat-cop/github-actions/get-image-version@0c6e3b63690cfa917a0ddc162efdfda3da82d66c # v4
        with:
          IMAGE_CONTEXT_DIR: ${{ env.context }}

      - uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0
        with:
          dockerfile: ${{ env.context }}/Dockerfile
          ignore: SC1091 # https://github.com/hadolint/hadolint/wiki/SC1091

      - name: Build image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          oci: true
          tags: ${{ steps.check_version.outputs.IMAGE_TAGS }}

      - name: Test image
        run: |
          echo "Running: podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} conftest version"
          podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} conftest --version | grep $(echo ${{ steps.check_version.outputs.VERSION }} | cut -c 2-)
