name: tekton-task-images-helm-publish
on:
  push:
    paths:
      - tekton-task-images/helm/VERSION
      - .github/workflows/tekton-task-images-helm-publish.yaml

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    env:
      context: tekton-task-images/helm
      image_name: tekton-task-helm
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Convert VERSION to version.json
        run: |
          version=$(sed -n '2p' ${{ env.context }}/VERSION | cut -d"=" -f2)
          jq -c --null-input --arg version "$version" '{ "version": $version }' > ${{ env.context }}/version.json

      - name: Get image tags
        id: image_tags
        uses: redhat-cop/github-actions/get-image-version@0c6e3b63690cfa917a0ddc162efdfda3da82d66c # v4
        with:
          IMAGE_CONTEXT_DIR: ${{ env.context }}

      - name: Build image
        id: build_image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          tags: "${{ steps.image_tags.outputs.IMAGE_TAGS }}"

      - name: Push to ghcr.io
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2
        if: ${{ !contains(github.ref, 'renovate') }}
        with:
          image: ${{ steps.build_image.outputs.image }}
          registry: ghcr.io/${{ github.repository }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          tags: ${{ steps.build_image.outputs.tags }}

      - name: Push to Quay
        env:
          REGISTRY_URI: ${{ secrets.REGISTRY_URI }}
        if: ${{ env.REGISTRY_URI  != '' && !contains(github.ref, 'renovate') }}
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2
        with:
          image: ${{ steps.build_image.outputs.image }}
          registry: ${{ secrets.REGISTRY_URI }}/${{ secrets.REGISTRY_REPOSITORY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          tags: ${{ steps.build_image.outputs.tags }}
