name: ubi8-bats-pr
on:
  pull_request:
    paths:
      - utilities/ubi8-bats/**
jobs:
  build:
    env:
      context: utilities/ubi8-bats
      image_name: ubi8-bats
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
        name: Check and verify version.json
        id: check_version
        run: |
          echo -n ::set-output name=IMAGE_TAGS::
          echo $(jq -r '.version' ${context}/version.json)
      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          oci: true
          tags: ${{ steps.check_version.outputs.IMAGE_TAGS }}
      - name: Test image
        run: |
          echo "Running: podman run -t -v $PWD:/code:z ${image_name}:${{ steps.check_version.outputs.IMAGE_TAGS }} /code/utilities/ubi8-bats/test"
          podman run -t -v $PWD:/code:z ${image_name}:${{ steps.check_version.outputs.IMAGE_TAGS }} /code/utilities/ubi8-bats/test
