name: ubi8-asciidoctor-pr
on:
  pull_request:
    paths:
      - utilities/ubi8-asciidoctor/**
      - .github/workflows/ubi8-asciidoctor-pr.yaml
jobs:
  build:
    env:
      context: utilities/ubi8-asciidoctor
      image_name: ubi8-asciidoctor
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Check and verify version.json
        id: check_version
        uses: redhat-cop/github-actions/get-image-version@master
        with:
          IMAGE_CONTEXT_DIR: ${{ env.context }}

      - name: Install qemu dependency
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          platforms: linux/amd64,linux/arm64
          oci: true
          tags: ${{ steps.check_version.outputs.IMAGE_TAGS }}

      - name: Test image
        run: |
          echo "Running: podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} git --version"
          podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} git --version

          echo "Running: podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} asciidoctor --version"
          podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} asciidoctor --version

          echo "Running: podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} asciidoctor-pdf --version"
          podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} asciidoctor-pdf --version

          echo "Running: podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} pandoc --version"
          podman run ${image_name}:${{ steps.check_version.outputs.VERSION }} pandoc --version
