name: ubi8-bats-pr
on:
  pull_request:
    paths:
      - utilities/ubi8-bats/**
      - .github/workflows/ubi8-bats-pr.yaml

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    env:
      context: utilities/ubi8-bats
      image_name: ubi8-bats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Check and verify version.json
        id: check_version
        uses: redhat-cop/github-actions/get-image-version@561af5e610560aef3210ca7a08fe73b2add97648 # v4.5
        with:
          IMAGE_CONTEXT_DIR: ${{ env.context }}

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: ${{ env.context }}/Dockerfile
          ignore: DL3041

      - name: Build image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2
        with:
          context: ${{ env.context }}
          dockerfiles: |
            ./${{ env.context }}/Dockerfile
          image: ${{ env.image_name }}
          oci: true
          tags: ${{ steps.check_version.outputs.IMAGE_TAGS }}

      - name: Test image
        run: |
          echo "Running: podman run -t -v $PWD:/code:z ${image_name}:${{ steps.check_version.outputs.VERSION }} /code/utilities/ubi8-bats/test"
          podman run -t -v $PWD:/code:z ${image_name}:${{ steps.check_version.outputs.VERSION }} /code/utilities/ubi8-bats/test
